<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="Local" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};initial catalog={{productionDbName}};" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalElmah" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Elmah;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalHangfire" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Hangfire;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Production" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};initial catalog={{productionDbName}};" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProductionElmah" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Elmah;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProductionHangfire" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Hangfire;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <EnvironmentContext xdt:Transform="Replace">
    <Environments>
      <Environment name="Shared">
        <Sites>
          <!--Start - Generic Configuration-->
          <Site name="Shared">
            <Configs>
              <add key="CSX:Consumer:BaseUrl" value="https://consumer.procampaignapi.com" />
              <add key="CSX:Consumer:ParticipationPath" value="Consumer" />
              <add key="CSX:Consumer:SourceName" value="{{promotionSourceName}}" />
              <add key="CSX:Consumer:TransactionName" value="{{promotionTransactionName}}" />
              <add key="CSX:Api:BaseUrl" value="https://api.procampaignapi.com" />
              <add key="CSX:Api:DocumentPath" value="Consumer/Documents" />
              <add key="CSX:Api:ListName" value="Privacy_Policy_EN" />
              <add key="CSX:Api:DocumentName" value="PrivacyPolicy_EN" />
              <add key="CSX:Api:ApiKey" value="S1JBRlQuSU5UTCBWN3xNT1paMTgwMTAy" />
            </Configs>
          </Site>
          <!--End - Generic Configuration-->
          <!--Start - Culture relative configuration-->
          <Site name="GB" culture="en-GB" domain=".co.uk">
            <Configs>
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE" domain=".ie">
            <Configs>
            </Configs>
          </Site>
          <Site name="DE" culture="de-DE" domain=".de">
            <Configs>
            </Configs>
          </Site>
          <Site name="AT" culture="de-AT" domain=".at">
            <Configs>
            </Configs>
          </Site>
          <!--Start - Culture relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Local" domain="local">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="Milka:Kuhmunity:ApiEndpoint" value="http://stg-service.kuhmunity.milka.com/services/UserService/" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB" domain=".co.uk">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE" domain=".ie">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
            </Configs>
          </Site>
          <Site name="DE" culture="de-DE" domain=".de">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
              <add key="Milka:Sitemap" value="http://milka-de.cmsstg.mdlzapps.com/service/sitemap" />
              <add key="Milka:Imprint" value="http://milka-de.cmsstg.mdlzapps.com/service/imprint" />
              <add key="Milka:ModelezInternational" value="http://milka-de.cmsstg.mdlzapps.com/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="http://milka-de.cmsstg.mdlzapps.com/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="http://milka-de.cmsstg.mdlzapps.com/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="http://milka-de.cmsstg.mdlzapps.com/marke" />
              <add key="Milka:ProductUrl" value="http://milka-de.cmsstg.mdlzapps.com/produkte" />
              <add key="Milka:ActionUrl" value="http://milka-de.cmsstg.mdlzapps.com/aktionen" />
              <add key="Milka:KuhmunityUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity" />
              <add key="Milka:ShopUrl" value="http://milka-de.cmsstg.mdlzapps.com/shop" />
              <add key="Milka:Newsletter" value="http://milka-de.cmsstg.mdlzapps.com/service/newsletter/subscribe" />
              <add key="Milka:Service" value="http://milka-de.cmsstg.mdlzapps.com/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Staging DE Campaign Id}}" />
            </Configs>
          </Site>
          <Site name="AT" culture="de-AT" domain=".at">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
              <add key="Milka:Sitemap" value="http://milka-at.cmsstg.mdlzapps.com/service/sitemap" />
              <add key="Milka:Imprint" value="http://milka-at.cmsstg.mdlzapps.com/service/imprint" />
              <add key="Milka:ModelezInternational" value="http://milka-at.cmsstg.mdlzapps.com/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="http://milka-at.cmsstg.mdlzapps.com/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="http://milka-at.cmsstg.mdlzapps.com/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="http://milka-at.cmsstg.mdlzapps.com/marke" />
              <add key="Milka:ProductUrl" value="http://milka-at.cmsstg.mdlzapps.com/produkte" />
              <add key="Milka:ActionUrl" value="http://milka-at.cmsstg.mdlzapps.com/aktionen" />
              <add key="Milka:KuhmunityUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity" />
              <add key="Milka:ShopUrl" value="http://milka-at.cmsstg.mdlzapps.com/shop" />
              <add key="Milka:Newsletter" value="http://milka-at.cmsstg.mdlzapps.com/service/newsletter/subscribe" />
              <add key="Milka:Service" value="http://milka-at.cmsstg.mdlzapps.com/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Staging AT Campaign Id}}" />
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Production" domain="local.prod">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="Milka:Kuhmunity:ApiEndpoint" value="https://service-kuhmunity.milka.com/services/UserService/" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB" domain="co.uk">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.UK Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.UK Api Secret}}" />
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE" domain="ie">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.IE Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.IE Api Secret}}" />
            </Configs>
          </Site>
          <Site name="DE" culture="de-DE" domain=".de">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.DE Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.DE Api Secret}}" />
              <add key="Milka:Sitemap" value="https://www.milka.de/service/sitemap" />
              <add key="Milka:Imprint" value="https://www.milka.de/service/imprint" />
              <add key="Milka:ModelezInternational" value="https://www.milka.de/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="https://www.milka.de/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="https://www.milka.de/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="https://www.milka.de/marke" />
              <add key="Milka:ProductUrl" value="https://www.milka.de/produkte" />
              <add key="Milka:ActionUrl" value="https://www.milka.de/aktionen" />
              <add key="Milka:KuhmunityUrl" value="https://www.milka.de/kuh-munity" />
              <add key="Milka:ShopUrl" value="https://www.milka.de/shop" />
              <add key="Milka:Newsletter" value="https://www.milka.de/service/newsletter/subscribe" />
              <add key="Milka:Service" value="https://www.milka.de/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="https://www.milka.de/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="https://www.milka.de/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="https://www.milka.de/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Production DE Campaign Id}}" />
            </Configs>
          </Site>
          <Site name="AT" culture="de-AT" domain=".at">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.AT Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.AT Api Secret}}" />
              <add key="Milka:Sitemap" value="https://www.milka.at/service/sitemap" />
              <add key="Milka:Imprint" value="https://www.milka.at/service/imprint" />
              <add key="Milka:ModelezInternational" value="https://www.milka.at/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="https://www.milka.at/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="https://www.milka.at/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="https://www.milka.at/marke" />
              <add key="Milka:ProductUrl" value="https://www.milka.at/produkte" />
              <add key="Milka:ActionUrl" value="https://www.milka.at/aktionen" />
              <add key="Milka:KuhmunityUrl" value="https://www.milka.at/kuh-munity" />
              <add key="Milka:ShopUrl" value="https://www.milka.at/shop" />
              <add key="Milka:Newsletter" value="https://www.milka.at/service/newsletter/subscribe" />
              <add key="Milka:Service" value="https://www.milka.at/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="https://www.milka.at/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="https://www.milka.at/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="https://www.milka.at/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Production AT Campaign Id}}" />
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
    </Environments>
  </EnvironmentContext>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>