<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="Local" connectionString="data source={{stagingDbServerName}};UID={{stagingDbUser}};PWD={{stagingDbPassword}};initial catalog={{stagingDbName}};" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalElmah" connectionString="data source={{stagingDbServerName}};UID={{stagingDbUser}};PWD={{stagingDbPassword}};database={{stagingDbName}}.Elmah;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LocalHangfire" connectionString="data source={{stagingDbServerName}};UID={{stagingDbUser}};PWD={{stagingDbPassword}};database={{stagingDbName}}.Hangfire;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Production" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};initial catalog={{productionDbName}};" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProductionElmah" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Elmah;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ProductionHangfire" connectionString="data source={{productionDbServerName}};UID={{productionDbUser}};PWD={{productionDbPassword}};database={{productionDbName}}.Hangfire;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="stg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>