<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
      <section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah" />
    </sectionGroup>
    <section name="EnvironmentContext" type="Web.Configuration.Sections.EnvironmentContextSection" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--Start - Database configuration-->
  <dataConfiguration defaultDatabase="Local" />
  <connectionStrings>
    <!--<add name="Local" connectionString="data source={{Development Server Name}};UID=sa;PWD=Asdcxz1+;initial catalog={{Development Database Name}};" providerName="System.Data.SqlClient" />
    <add name="LocalElmah" connectionString="data source={{Development Server Name}};UID=sa;PWD=Asdcxz1+;database={{Development Database Name}}.Elmah;" providerName="System.Data.SqlClient" />
    <add name="LocalHangfire" connectionString="data source={{Development Server Name}};UID=sa;PWD=Asdcxz1+;database={{Development Database Name}}.Hangfire;" providerName="System.Data.SqlClient" />
    <add name="Production" connectionString="data source={{Development Server Name}};UID=sa;PWD=Asdcxz1+;initial catalog={{Development Database Name}};" providerName="System.Data.SqlClient" />
    <add name="ProductionElmah" connectionString="data source={{Development Server Name}};UID=sa;PWD=Asdcxz1+;database={{Development Database Name}}.Elmah;" providerName="System.Data.SqlClient" />
    <add name="ProductionHangfire" connectionString="data source={{Development Server Name}};UID=sa;PWD=Asdcxz1+;database={{Development Database Name}}.Hangfire;" providerName="System.Data.SqlClient" />-->
    <add name="Local" connectionString="data source=(local)\SQLSERVER;UID=sa;PWD=Asdcxz1+;initial catalog=hexago.net;" providerName="System.Data.SqlClient" />
    <add name="LocalElmah" connectionString="data source=(local)\SQLSERVER;UID=sa;PWD=Asdcxz1+;database=hexago.net.Elmah;" providerName="System.Data.SqlClient" />
    <add name="LocalHangfire" connectionString="data source=(local)\SQLSERVER;UID=sa;PWD=Asdcxz1+;database=hexago.net.Hangfire;" providerName="System.Data.SqlClient" />
    <add name="Production" connectionString="data source=(local)\SQLSERVER;UID=sa;PWD=Asdcxz1+;initial catalog=hexago.net;" providerName="System.Data.SqlClient" />
    <add name="ProductionElmah" connectionString="data source=(local)\SQLSERVER;UID=sa;PWD=Asdcxz1+;database=hexago.net.Elmah;" providerName="System.Data.SqlClient" />
    <add name="ProductionHangfire" connectionString="data source=(local)\SQLSERVER;UID=sa;PWD=Asdcxz1+;database=hexago.net.Hangfire;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--End - Database configuration-->
  <appSettings>
    <add key="Environment" value="dev" />
    <!--
    <add key="Environment" value="stg" />
    <add key="Environment" value="prod" />
    -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Start Google Recaptcha settings-->
    <add key="Captcha:ApiRequest" value="https://www.google.com/recaptcha/api/siteverify?secret={0}&amp;response={1}" />
    <add key="Captcha:SiteKey" value="{{captchaSiteKey}}" />
    <add key="Captcha:SecretKey" value="{{captchaSecretKey}}" />
    <add key="Captcha:ServerValidationEnabled" value="true" />
    <!-- End Google Recaptcha -->

    <!-- Start Scheduler settings-->
    <add key="Scheduler:Dashboard:Path" value="/scheduler" />
    <!-- End Scheduler -->

    <!-- Start Authentication (API, Scheduler)-->
    <add key="BasicAuth:Proximity:Key" value="Proximity" />
    <add key="BasicAuth:Proximity:Password" value="k2P6WnRQEgPCmt7q8mtKfLW6bW4fcd" />
    <add key="BasicAuth:System:Key" value="System" />
    <add key="BasicAuth:System:Password" value="f58wBsvkrRXyC3yqFYfVDNCegfb6Nf" />
    <add key="BasicAuth:External:Key" value="External" />
    <add key="BasicAuth:External:Password" value="xmiP8gX2xkzpUs5d47FOeYtxxDBC9M" />
    <!-- End Authentication -->

    <!--CSX Ecommerce/Consumer Configuration-->
    <add key="ConsultixApiBaseUrl" value="https://api.procampaign.com/" />
    <add key="ConsultixConsumer" value="consumer/" />
    <add key="ConsultixConsumer:StoreProfilePath" value="Consumer" />
    <add key="ConsultixConsumer:DocumentPath" value="Documents" />
    <add key="ConsultixEcommerce" value="ecommerce/" />
    <add key="ConsultixEcommerce:ShopPath" value="Shops" />
    <add key="ConsultixEcommerce:ProductPath" value="Products" />
    <add key="ConsultixEcommerce:OrderPath" value="Campaigns/{0}/Orders" />
    <add key="ConsultixEcommerce:CampaignCode" value="{{Campaign code}}" />
    <add key="ConsultixEcommerce:ShopId" value="2" />

    <!-- CSX Ecommerce Credentials -->
    <add key="CSX_eCommerce:adminUsername" value="{{Admin user}}" />
    <add key="CSX_eCommerce:adminPassword" value="{{Admin password}}" />
    <add key="CSX_eCommerce:Source" value="{{Transaction source}}" />

    <!--CSX Ecommerce/Authorization Configuration-->
    <add key="ConsultixAuthBaseUrl" value="https://auth.procampaign.com/" />
    <add key="ConsultixAuth:TokenRequestPath" value="Token" />
    <add key="ConsultixAuth:GrantType" value="password" />
    <add key="ConsultixAuth:ClientIdKey" value="{{clientIdKey}}" />

    <!-- CSX Ecommerce/Legal Documents -->
    <add key="CsxDocuments:ApiBaseUrl" value="https://api.procampaignapi.com/" />
    <add key="CsxTermsOfUse:PermissionName" value="{{Terms permission name}}" />
    <add key="CsxTermsOfUse:DocumentName" value="{{Terms document name}}" />
    <add key="MdlzPrivacy:PermissionName" value="Privacy_Policy_{0}" />
    <add key="MdlzPrivacy:DocumentName" value="PrivacyPolicy_{0}" />
    <add key="CsxDocuments:IntlGenericAPIKey" value="S1JBRlQuSU5UTCBWN3xNT1paMTgwMTAy" />
    
  </appSettings>
  <!--Start - Custom configuration-->
  <EnvironmentContext>
    <Environments>
      <Environment name="Shared">
        <Sites>
          <!--Start - Generic Configuration-->
          <Site name="Shared">
            <Configs>
              <add key="CSX:Consumer:BaseUrl" value="https://consumer.procampaignapi.com" />
              <add key="CSX:Consumer:ParticipationPath" value="Consumer" />
              <add key="CSX:Consumer:SourceName" value="{{promotionSourceName}}" />
              <add key="CSX:Consumer:TransactionName" value="{{promotionTransactionName}}" />
              <add key="CSX:Api:BaseUrl" value="https://api.procampaignapi.com" />
              <add key="CSX:Api:DocumentPath" value="Consumer/Documents" />
              <add key="CSX:Api:ListName" value="Privacy_Policy_EN" />
              <add key="CSX:Api:DocumentName" value="PrivacyPolicy_EN" />
              <add key="CSX:Api:ApiKey" value="S1JBRlQuSU5UTCBWN3xNT1paMTgwMTAy" />
            </Configs>
          </Site>
          <!--End - Generic Configuration-->
          <!--Start - Culture relative configuration-->
          <Site name="US" culture="en-US" domain=".com">
            <Configs>
            </Configs>
          </Site>
          <Site name="GB" culture="en-GB" domain=".co.uk">
            <Configs>
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE" domain=".ie">
            <Configs>
            </Configs>
          </Site>
          <Site name="DE" culture="de-DE" domain=".de">
            <Configs>
            </Configs>
          </Site>
          <Site name="AT" culture="de-AT" domain=".at">
            <Configs>
            </Configs>
          </Site>
          <!--Start - Culture relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Local" domain="local">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="Milka:Kuhmunity:ApiEndpoint" value="http://stg-service.kuhmunity.milka.com/services/UserService/" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="US" culture="en-US">
            <Configs>
            </Configs>
          </Site>
          <Site name="GB" culture="en-GB">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
            </Configs>
          </Site>
          <Site name="DE" culture="de-DE">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
              <add key="Milka:Sitemap" value="http://milka-de.cmsstg.mdlzapps.com/service/sitemap" />
              <add key="Milka:Imprint" value="http://milka-de.cmsstg.mdlzapps.com/service/imprint" />
              <add key="Milka:ModelezInternational" value="http://milka-de.cmsstg.mdlzapps.com/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="http://milka-de.cmsstg.mdlzapps.com/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="http://milka-de.cmsstg.mdlzapps.com/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="http://milka-de.cmsstg.mdlzapps.com/marke" />
              <add key="Milka:ProductUrl" value="http://milka-de.cmsstg.mdlzapps.com/produkte" />
              <add key="Milka:ActionUrl" value="http://milka-de.cmsstg.mdlzapps.com/aktionen" />
              <add key="Milka:KuhmunityUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity" />
              <add key="Milka:ShopUrl" value="http://milka-de.cmsstg.mdlzapps.com/shop" />
              <add key="Milka:Newsletter" value="http://milka-de.cmsstg.mdlzapps.com/service/newsletter/subscribe" />
              <add key="Milka:Service" value="http://milka-de.cmsstg.mdlzapps.com/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="http://milka-de.cmsstg.mdlzapps.com/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Staging DE Campaign Id}}" />
            </Configs>
          </Site>
          <Site name="AT" culture="de-AT">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Test.Kraft.IS Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Test.Kraft.IS Api Secret}}" />
              <add key="Milka:Sitemap" value="http://milka-at.cmsstg.mdlzapps.com/service/sitemap" />
              <add key="Milka:Imprint" value="http://milka-at.cmsstg.mdlzapps.com/service/imprint" />
              <add key="Milka:ModelezInternational" value="http://milka-at.cmsstg.mdlzapps.com/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="http://milka-at.cmsstg.mdlzapps.com/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="http://milka-at.cmsstg.mdlzapps.com/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="http://milka-at.cmsstg.mdlzapps.com/marke" />
              <add key="Milka:ProductUrl" value="http://milka-at.cmsstg.mdlzapps.com/produkte" />
              <add key="Milka:ActionUrl" value="http://milka-at.cmsstg.mdlzapps.com/aktionen" />
              <add key="Milka:KuhmunityUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity" />
              <add key="Milka:ShopUrl" value="http://milka-at.cmsstg.mdlzapps.com/shop" />
              <add key="Milka:Newsletter" value="http://milka-at.cmsstg.mdlzapps.com/service/newsletter/subscribe" />
              <add key="Milka:Service" value="http://milka-at.cmsstg.mdlzapps.com/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="http://milka-at.cmsstg.mdlzapps.com/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Staging AT Campaign Id}}" />
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Production" domain="local.prod">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="Milka:Kuhmunity:ApiEndpoint" value="https://service-kuhmunity.milka.com/services/UserService/" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="US" culture="en-US">
            <Configs>
            </Configs>
          </Site>
          <Site name="GB" culture="en-GB">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.UK Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.UK Api Secret}}" />
            </Configs>
          </Site>
          <Site name="IE" culture="en-IE">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.IE Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.IE Api Secret}}" />
            </Configs>
          </Site>
          <Site name="DE" culture="de-DE">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.DE Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.DE Api Secret}}" />
              <add key="Milka:Sitemap" value="https://www.milka.de/service/sitemap" />
              <add key="Milka:Imprint" value="https://www.milka.de/service/imprint" />
              <add key="Milka:ModelezInternational" value="https://www.milka.de/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="https://www.milka.de/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="https://www.milka.de/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="https://www.milka.de/marke" />
              <add key="Milka:ProductUrl" value="https://www.milka.de/produkte" />
              <add key="Milka:ActionUrl" value="https://www.milka.de/aktionen" />
              <add key="Milka:KuhmunityUrl" value="https://www.milka.de/kuh-munity" />
              <add key="Milka:ShopUrl" value="https://www.milka.de/shop" />
              <add key="Milka:Newsletter" value="https://www.milka.de/service/newsletter/subscribe" />
              <add key="Milka:Service" value="https://www.milka.de/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="https://www.milka.de/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="https://www.milka.de/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="https://www.milka.de/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Production DE Campaign Id}}" />
            </Configs>
          </Site>
          <Site name="AT" culture="de-AT">
            <Configs>
              <add key="CSX:Consumer:ApiKey" value="{{Kraft.AT Api Key}}" />
              <add key="CSX:Consumer:ApiSecret" value="{{Kraft.AT Api Secret}}" />
              <add key="Milka:Sitemap" value="https://www.milka.at/service/sitemap" />
              <add key="Milka:Imprint" value="https://www.milka.at/service/imprint" />
              <add key="Milka:ModelezInternational" value="https://www.milka.at/service/mondelez_international" />
              <add key="Milka:UsagePolicy" value="https://www.milka.at/service/nutzungsbasierte_online_werbung" />
              <add key="Legal:CookiePolicyLink" value="https://www.milka.at/service/cookies-policy" />
              <add key="Milka:BrandUrl" value="https://www.milka.at/marke" />
              <add key="Milka:ProductUrl" value="https://www.milka.at/produkte" />
              <add key="Milka:ActionUrl" value="https://www.milka.at/aktionen" />
              <add key="Milka:KuhmunityUrl" value="https://www.milka.at/kuh-munity" />
              <add key="Milka:ShopUrl" value="https://www.milka.at/shop" />
              <add key="Milka:Newsletter" value="https://www.milka.at/service/newsletter/subscribe" />
              <add key="Milka:Service" value="https://www.milka.at/service" />
              <add key="Milka:KuhmunityRegisterUrl" value="https://www.milka.at/kuh-munity/registrieren" />
              <add key="Milka:KuhmunityHelpUrl" value="https://www.milka.at/kuh-munity/hilfe" />
              <add key="Milka:KuhmunityForgetPasswordUrl" value="https://www.milka.at/kuh-munity/passwort-vergessen" />
              <add key="Milka:Kuhmunity:CampaignId" value="{{Production AT Campaign Id}}" />
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
    </Environments>
  </EnvironmentContext>
  <!--End - Custom configuration-->
  <location path="Dashboard">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Angular Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/Dashboard/" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="LocalElmah" applicationName="Cadbury Inventor Voting" />
  </elmah>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache24h" duration="86400" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-ttf" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="application/font-otf" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Infrastructure.Elmah.AdminPage.LogPageFactory" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Infrastructure.Elmah.AdminPage.LogPageFactory" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.2.0" newVersion="4.9.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>