@{
    ViewBag.Title = "Error 404";
    ViewBag.BodyClass = "error";
    ViewBag.AssetName = "terms";
}


<div class="main-content" style="margin-bottom: 15%;margin-top:15%">
    <h1>404 Error</h1>
    <p>
        We're sorry, but we can't find the page you're looking for.<br>
        This might be because of an out of date link or a typo.<br>
        Don't worry though, you can find your bearings from the <a href="/">home page</a>
    </p>
</div>