<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Api:BaseUrl" value="{{Production Application Service Url}}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <EnvironmentContext xdt:Transform="Replace">
    <Environments>
      <Environment name="Shared">
        <Sites>
          <!--Start - Generic Configuration-->
          <Site name="Shared">
            <Configs>
              <add key="FBShare:AppId" value="" />
              <add key="FBShare:Site_Name" value="{{Application Name}}" />
              <add key="FBShare:Image_Alt" value="{{Application Name}}" />
              <add key="FBShare:Title" value="{{Fb share title}}" />
              <add key="FBShare:Description" value="{{Fb share description}}" />
              <add key="Legal:PrivacyNoticeLink" value="https://eu.mondelezinternational.com/privacy-notice?siteId={0}" />
              <add key="Legal:ContactUsLink" value="https://contactus.mdlzapps.com/form?siteId={0}" />
            </Configs>
          </Site>
          <!--End - Generic Configuration-->
          <!--Start - Culture relative configuration-->
          <Site name="GB" culture="en-GB" domain=".co.uk">
            <Configs>
              <add key="GtmId" value="{{GTM_ID}}" />
              <add key="Google_SV" value="{{Google_SV_ID}}" />
              <add key="GATrackingCode" value="{{GA Tracking Code}}" />
              <add key="Mldz:SiteId" value="{{Mondelez_Site_Id}}" />
              <add key="Captcha:SiteKey" value="{{Captcha SiteKey}}" />
              <add key="Meta_Title" value="{{Meta title prefix}}{0}" />
              <add key="Meta_Keywords" value="{{Meta keywords}}" />
              <add key="Meta_Description" value="{{Meta description}}" />
            </Configs>
          </Site>
          <Site name="UK" culture="en-IE" domain=".ie">
            <Configs>
              <add key="GtmId" value="{{GTM_ID}}" />
              <add key="Google_SV" value="{{Google_SV_ID}}" />
              <add key="GATrackingCode" value="{{GA Tracking Code}}" />
              <add key="Mldz:SiteId" value="{{Mondelez_Site_Id}}" />
              <add key="Captcha:SiteKey" value="{{Captcha SiteKey}}" />
              <add key="Meta_Title" value="{{Meta title prefix}}{0}" />
              <add key="Meta_Keywords" value="{{Meta keywords}}" />
              <add key="Meta_Description" value="{{Meta description}}" />
            </Configs>
          </Site>
          <!--Start - Culture relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Local" domain="local">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="FBShare_Image" value="" />
              <add key="FBShare_Image_Secure" value="" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB" >
            <Configs>
            </Configs>
          </Site>
          <Site name="UK" culture="en-GB" >
            <Configs>
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
      <Environment name="Production" domain="local.prod">
        <Sites>
          <!--Start - Environment relative configuration-->
          <Site name="Shared">
            <Configs>
              <add key="FBShare_Image" value="" />
              <add key="FBShare_Image_Secure" value="" />
            </Configs>
          </Site>
          <!--End - Environment relative configuration-->
          <!--Start - Culture and environment relative configuration-->
          <Site name="GB" culture="en-GB">
            <Configs>
            </Configs>
          </Site>
          <Site name="UK" culture="en-GB">
            <Configs>
            </Configs>
          </Site>
          <!--End - Culture and environment relative configuration-->
        </Sites>
      </Environment>
    </Environments>
  </EnvironmentContext>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="On" defaultRedirect="/Error.htm"/>
  </system.web>
  <system.webServer>
    <httpErrors xdt:Transform="Replace" errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/error-404" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/error-500" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>